<main class="main">
  <div class="menu">
    <mat-nav-list>
<!--      <a mat-list-item (click)="openAuthForm()">Assessment reports</a>-->
<!--      <mat-divider></mat-divider>-->
      <a mat-list-item (click)="openAuthForm()">Assessment Reports</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="openAuthForm()">Administration section</a>

<!--      <mat-list-item>-->
<!--        <button (click)="openAuthForm()" mat-raised-button color="primary">Primary</button>-->
<!--      </mat-list-item>-->
<!--      <mat-divider></mat-divider>-->
<!--      <mat-list-item>-->
<!--        <button (click)="openAuthForm()" mat-raised-button color="primary">Primary</button>-->
<!--      </mat-list-item>-->
    </mat-nav-list>
  </div>

  <div class="content">
    <!--<app-authorization></app-authorization>-->
    <h1>Welcome to dashboard!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolore, quae? Corporis dolor eaque ex
      explicabo hic molestias neque nobis nulla officiis perferendis quaerat, quod suscipit unde vitae voluptate
      voluptatum. Lorem ipsum dolor sit amet.
    </p>
    <app-asses-reports></app-asses-reports>
    <app-admin-panel></app-admin-panel>
  </div>
</main>
