<main class="main">
  <div class="menu">
    <mat-nav-list>
      <a routerLink="/userassessments" routerLinkActive="active" mat-list-item>Assessment Reports</a>
      <mat-divider></mat-divider>
      <a routerLink="/users" mat-list-item >Administration section</a>

<!--      <mat-list-item>-->
<!--        <button (click)="openAuthForm()" mat-raised-button color="primary">Primary</button>-->
<!--      </mat-list-item>-->
<!--      <mat-divider></mat-divider>-->
<!--      <mat-list-item>-->
<!--        <button (click)="openAuthForm()" mat-raised-button color="primary">Primary</button>-->
<!--      </mat-list-item>-->
    </mat-nav-list>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
