.assesReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafc;
  border-radius: .5rem;
  padding: 1rem .5rem;
}
.assesReport:hover {
  cursor: pointer;
  transition: .4s;
  background-color: #dadada;
}
